
$theme-colors: (
	"black" : #353839,
	"white" : #FFFFFF,
	"silver" : #E8E8E8,
	"gold" : #D4AF37,
	"dark" : #000000,

	);

$black : #282829;
$white : #FFFFFF;
$silver : #E8E8E8;
$gold : #D4AF37;
$dark : #000000;
//Common to all pages

body {
	background-color: $dark;
}

// navbar
.navbar .container-fluid .navbar-toggler {
	border-color: $gold;
}

.navbar-light .navbar-brand {
	color: $white;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

// carousel

#carouselExampleIndicators .carousel-inner .carousel-item > img {
		height: 100vh;
		min-height: 100px;
	}

.carousel-item { 			
	img { 				
		filter: brightness(60%); 				
		height: 100vh; 				
		object-fit: cover;

	}	 		
}

.carousel-inner {
	border: none;
}

#menu {
	margin-top: 0px;
	padding-top: 20px;
	text-align: center;
	font-size: 60px;
	color: $gold;
}
.card-body {
	background-color: $silver;
}

.container-menu {
	width: 100%;
}

#contact  {
	padding-top: 3rem;
	background-color: $dark;
}

// Large devices (desktops, 992px and up) 

/* @media (min-width: 992px) { 

} */


/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 

	.page {
		display: flex;
		flex-wrap: wrap;
	}

	.sign-up, .feature-1, .feature-2, .feature-3 {
		width: 50%;
	}
} */


@media (max-width: 576px) {
	
	body {
		font-size: 13px;
	}

	.about h1 {
		font-size: 30px;
	}

	.about p {
		font-size: 13px;
	}

	.container-fluid h1 {
		font-size: 30px;
	}

	.container-fluid p {
  		font-size: 13px;
	}

	#carouselExampleSlidesOnly .carousel-inner .carousel-item .carousel-2 {
		height: 40vh;
		min-height: 100px;
	}
	
	#contact-us h2 {
		font-size: 30px;
	}

	#contact-us .btn {
		font-size: 15px;
	}

}


@import '../../node_modules/bootstrap/scss/bootstrap';
